.DS_Store
*.meta
u3d/Library
u3d/Temp
u3d/*.csproj
u3d/*.sln
u3d/*.userprefs



#Visual Studio/ Monodevelop generated
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
*.sln
*.csproj

obj/
bin/
libs/
